<ul class="hotels-list" (scroll)="onScroll()" #hotelsList>
  <li *ngFor="let hotel of hotels; trackBy:hotelId" id="hotelCard-{{hotel.id}}">
    <img src="assets/images/placeholder.png" alt="chairs">
    <div class="info-block">
      <div class="city">{{ hotel.address.city }}</div>
      <div class="title">{{ hotel.title }}</div>
      <div class="distance">{{ hotel.distance }} km from city center</div>
      <div class="price">$96</div>
      <div class="note">Designs may vary</div>
    </div>
    <button class="book-btn" (click)="onBook(hotel)">Book</button>
  </li>
</ul>